src/main/mule/hellojenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="efa9057c-d282-4498-96db-78139d07b8c0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellojenkinsFlow" doc:id="97347c22-20af-4aca-a79e-5411c5c2d24d" >
		<http:listener doc:name="Listener" doc:id="3e86070b-75f8-436f-aa80-c23cde4d6edc" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hello jenkins"]' doc:name="Set Payload" doc:id="51991ee8-6164-4cb6-92c1-b1f11cb9a017" />
	</flow>
</mule>
